<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Training_Gift>
            <version>0.1</version>
        </Training_Gift>
    </modules>
    <global>
        <models>
            <training_gift>
                <class>Training_Gift_Model</class>
                <resourceModel>training_gift_resource</resourceModel>
            </training_gift>
            <training_gift_resource>
                <class>Training_Gift_Model_Resource</class>
            </training_gift_resource>
        </models>

        <blocks>
            <training_gift>
                <class>Training_Gift_Block</class>
            </training_gift>
        </blocks>
        <helpers>
            <training_gift>
                <class>Training_Gift_Helper</class>
            </training_gift>
        </helpers>
        <resources>
            <training_gift_setup>
                <setup>
                    <module>Training_Gift</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </training_gift_setup>
        </resources>
        <sales>
            <quote>
                <totals>
                    <gift>
                        <class>training_gift/quote_total_gift</class>
                        <after>subtotal</after>
                        <before>freeshipping,giftwrapping,weee</before>
                    </gift>
                </totals>
            </quote>
        </sales>
    </global>
    <frontend>
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <training_gift>
                        <class>training_gift/observer</class>
                        <method>giftProcessing</method>
                    </training_gift>
                </observers>
            </sales_quote_collect_totals_before>
            <sales_quote_save_after>
                <observers>
                    <training_gift>
                        <class>training_gift/observer</class>
                        <method>fakeIdsProcessing</method>
                    </training_gift>
                </observers>
            </sales_quote_save_after>
        </events>
    </frontend>
</config>

